* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f4f4f4;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 14%;
}

.content {
  color: #333;
  > h1 {
    font-size: 3rem;
  }
  > p {
    font-size: 1.2rem;
  }
}
.container p {
}

.flex-row {
  display: flex;
  align-items: center;
  margin: 0.8rem;
  flex-direction: row;
  > a {
    text-decoration: none;
    color: #333;
    margin-left: 0.7rem;
  }
  > span {
    font-size: larger;
    font-weight: bold;
  }
}

.align-left {
  justify-content: flex-start;
}

.align-right {
  position: absolute;
  right: 0;
}
